[Desktop Entry]
Name=FFRipper
Comment=A fast, powerful and simple to use Audio-CD ripper for Linux supporting 30+ output formats
Exec=ffripper 
Icon=/usr/share/pixmaps/ripperX-icon.xpm
GenericName=CD Ripper
Terminal=false
MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;DiscBurning;GTK;GNOME;
Keywords=ffripper;ripper;cd;